:root {
    --main-bg-color: #ffffff;
    --main-input-color:#ffffff;
    --button-color:#283079;
    
  }
.button{
    background-color:var(--button-color);
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: var(--main-input-color);
    font-weight: bold;
    cursor: pointer;
    border: none;
}
