.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow:#b8afaf 2px 3px 10px,
               #b8afaf -2px -3px 10px;
    width: 320px;
    height: 520px;
    margin-top: 55px;
}
.content{
    width: 299px;
    height: 300px;
    
}
.btn-box{
    display: flex;   
}
h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 70px;
}
.text-p{
    justify-content: center;
    display: flex;
    margin-top: 27px; 
}
p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;  
}
input{
    width: 290px;
    height: 55px;
    border-radius: 56px;
    text-align: center;
    font-size: 23px;
    font-weight: 300;
    background-color: #283079;
    color: #fff;
    border: none;
    
}
input::placeholder{
    color: aliceblue;
    font-weight: 400;
}
.button{
    border-radius: 56px;
    width: 136px;
    height: 55px;
   
}
